<div class="body_parent">
    <header>
      <h4 class="header_h4">Camping Maka</h4>
      <h1 class="header_h1">Sometimes nature is all you need.</h1><br>
      <img src="https://images.pexels.com/photos/33107655/pexels-photo-33107655.jpeg" alt="Belgische Ardennen">
    </header>
    
    <main>
        <h2>Ligging</h2>
        <p>Camping Maka bevindt zich in het hart van de Belgische Ardennen. De camping is omringd door de natuur en is gelegen in het dal van de rivier La Semois. Camping Maka ligt in Natura2000 gebied.</p>
        
        <h2>Doelgroepen</h2>
        <p>Camping Maka is ideaal voor natuurliefhebbers. Hier komen geen groepen. Ook is er geen muziek. Er is een rustige sfeer en stilte, ruimte voor ontspanning en natuurbeleving. De camping is geschikt voor gezinnen met kinderen.</p>
       
        <h2>Activiteiten</h2>
        <p>Op de camping zijn wandel- en speelmogelijheden. In de omgeving zijn fiets- en wandelroutes en is er de mogelijkheid om te kanoën. Op de camping is een zelfgemaakt kampvuur toegestaan.</p>

        <h2>Faciliteiten</h2>
        <p>Er zijn plekken met en zonder stroom beschikbaar voor kampeerders.</p>
    </main>
</div>