<div class="body_parent">
    <header>
      <h4 class="header_h4">Camping Maka</h4>
      <h1 class="header_h1">Sometimes nature is all you need.</h1><br>
      <img src="https://images.pexels.com/photos/33107655/pexels-photo-33107655.jpeg" alt="Belgische Ardennen">
    </header>
    
    <main>
        <h2>Rust, natuur, (actief) buiten leven...</h2> 
        <p>Spot de vuursalamander, wasbeer en ijsvogel, ga vissen, kanoën, tokkel over de Semois, bezoek de kleine speeltuin, rooster marshmallows op je zelf gemaakte kampvuur, neem een duik in de rivier, wandel /fiets/ren in de bossen rondom de camping, geniet van een hapje en drankje op het terras of doe even helemaal niets en geniet. Kortom, de plek voor jong en oud en natuurlijk zijn de trouwe viervoeters ook welkom.</p>
        <br>

        <h2>Ligging</h2>
        <p>Camping Maka bevindt zich in het hart van de Belgische Ardennen. De camping is omringd door de natuur en is gelegen in het dal van de rivier La Semois. Camping Maka ligt in Natura2000 gebied.</p>
        <br>

        <h2>Doelgroepen</h2>
        <p>Camping Maka is ideaal voor natuurliefhebbers. Hier komen geen groepen. Ook is er geen muziek. Er is een rustige sfeer en stilte, ruimte voor ontspanning en natuurbeleving. De camping is geschikt voor gezinnen met kinderen.</p>
        <br>

        <h2>Activiteiten</h2>
        <p>Op de camping zijn wandel- en speelmogelijheden. In de omgeving zijn fiets- en wandelroutes en is er de mogelijkheid om te kanoën. Op de camping is een zelfgemaakt kampvuur toegestaan.</p>
        <br>
        <h2>Horeca</h2>
        <p>Campinggasten zijn welkom in ons restaurant/onze bar voor een hapje en een drankje.</p>
        <br>
        <h2>Shop</h2>
        <p>Struin rond in onze campingwinkel voor onder andere levensmiddelen, gasflessen, hout en outdoor kookspullen.</p>
        <br>
        <h2>Outdoor cooking</h2>
        <p>Bereid je ontbijt, lunch of diner op je zelf gemaakte vuur...</p>
        <br>
        
        <h2>4x4 offroadweide</h2>
        <p>Een stukje natuur waar je niet het idee hebt op een camping te staan. Let op, enkel toegang voor 4X4 offroadvoertuigen.</p>
        <br>
    </main>
</div>