<div class="subpage-container">
  <br>
  <p class="activiteit">Ontdek het prachtige Le Parc national de la Vallée de la Semois in de Belgische Ardennen</p>
<div class="body_parent">
    <header>
      <h4 class="header_h4">Camping Maka</h4>
      <h1 class="header_h1">Wandelen</h1>
      <br>
      <img src="https://images.pexels.com/photos/11185893/pexels-photo-11185893.jpeg" alt="Wandelen">
    </header>
    
    <main>
        <p>Vanaf Camping MAKA kun je direct de bossen in voor de mooiste wandelroutes. De Tombeau Du Gé Ant en de laddertjeswandeling in Rochehaut zijn schitterende wandelingen in de regio. Voor wie graag plekken wil bezichtigen, zijn er verschillende oude stadjes, kastelen en grotten in de omgeving zoals de kasteelruïnes van Boulion en Florenville.</p>
    </main>
  </div>
</div>