<div class="subpage-container">
  <br>
  <p class="activiteit">Ontdek het prachtige Le Parc national de la Vallée de la Semois in de Belgische Ardennen</p>
<div class="body_parent">
    <header>
      <h4 class="header_h4">Camping Maka</h4>
      <h1 class="header_h1">Wandelen</h1>
      <br>
      <img src="https://images.pexels.com/photos/11185893/pexels-photo-11185893.jpeg" alt="Wandelen">
    </header>
    
    <main>
        <h2>Ligging</h2>
        <p>Camping Maka</p>
    </main>
  </div>
</div> <!-- GECORRIGEERD: Deze tag sluit nu de subpage-container af -->