<div class="page_framework"> 
  <div class="navigation"> 
    <ul> 
      <li><a routerLink="/" (click)="sluitMenu()">home</a></li> 
      <li><a routerLink="/prijslijst" (click)="sluitMenu()">prijslijst</a></li> 
      <li>
        <a href="#" (click)="toggleMenu($event)">activiteiten</a>
        <ul class="submenu" *ngIf="menuOpen">
          <li><a routerLink="/activiteiten/wandelen" (click)="sluitMenu()">Wandelen</a></li>
          <li><a routerLink="/activiteiten/kanoen" (click)="sluitMenu()">Kanoën</a></li> 
        </ul>
      </li>
    </ul>
  </div>

  <div class="page-content">
    <!-- Hier worden de pagina's ingeladen -->
    <router-outlet></router-outlet>
    
    <!-- De footer staat hieronder en wordt door Flexbox naar de bodem gedrukt -->
    <app-footer></app-footer>
  </div>
</div>