<div class="subpage-container">
  <p class="activiteit">Ontdek het prachtige Le Parc national de la Vallée de la Semois in de Belgische Ardennen</p>


<div class="body_parent">
  <header>
    <!-- De afbeelding en titels voor de activiteitenpagina -->
    <h4 class="header_h4">Onze Activiteiten</h4>
    <h1 class="header_h1">Ontdek wat er te doen is rondom Camping Maka.</h1>
    <img src="https://images.pexels.com/photos/33107655/pexels-photo-33107655.jpeg" alt="Belgische Ardennen"></header>

  <main>
    <div class="activiteiten-container">
      <h2>Kies een activiteit</h2>
      <p>De Semoisvallei is een prachtige plek voor wandelaars, met avontuurlijke kajaktochten en wandelingen met uitzichten op de meanders van de rivier. Het is een ideale plek voor een actieve natuurvakantie in het zuiden van Wallonië.</p>

      <!-- Snelmenu binnen de child2 activiteitenpagina -->
<div class="activiteiten-menu">
  <a routerLink="wandelen" routerLinkActive="active-link">🥾 Wandelen</a> | 
  <a routerLink="kanoen" routerLinkActive="active-link">🛶 Kanoën</a>
</div>

      <!-- Hier worden Child2a (Wandelen) of Child2b (Kanoën) ingeladen -->
      <div class="activiteiten-sub-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>
