<div class="subpage-container">
  
  <div class="body_parent">
    <header>
      <h4 class="header_h4">Camping Maka</h4>
      <h1 class="header_h1">Tarieven</h1>
      <br>
      <img src="https://images.pexels.com/photos/1229753/pexels-photo-1229753.jpeg" alt="Hangmat">
    </header>
    
    <main>
      <h2>Verblijfsmogelijkheden</h2>
      <p>KAMPEREN. Kom naar camping Maka met je eigen kampeermiddel, wij hebben plekken met en zonder stroom.</p>
      <p>BLOKHUT. Op zoek naar net wat meer comfort dan een tent? Boek dan een van onze 5 blokhutten.</p>
      <p>DAKTENT. Altijd al eens willen ervaren hoe een daktent slaapt? kom dan nu uitproberen...</p>
      <p>BELLTENT. Basic ingerichte Belltent!</p>
      <p>HANGMATTEN. Durf jij het aan? Huur een hangmat en geniet van het echte gevoel van basic kamperen.</p>
      <br>

      <div class="prijslijst-layout">
        <!-- Toont de naam vanuit de Angular component input indien aanwezig -->
        <strong class="camping-name" *ngIf="name">{{ name }}</strong>
        
        <!-- Prijslijst Tabel -->
        <table id="table1">
          <tr class="third">
            <th>Tarieven</th>
            <th>Hoogseizoen per nacht</th>
            <th>Laagseizoen per nacht</th>
          </tr>
          <tr>
            <td>Kampeerweide</td>
            <td>€ 26,50</td>
            <td>€ 21,00</td>
          </tr>
          <tr>
            <td>Camperplaats</td>
            <td>€ 26,50</td>
            <td>€ 26,50</td>
          </tr>
          <tr>
            <td>Blokhut</td>
            <td>€ 82,00</td>
            <td>€ 65,50</td>
          </tr>
          <tr>
            <td>Belltent</td>
            <td>€ 250,00</td>
            <td>€ 210,50</td>
          </tr>
          <tr>
            <td>Daktent</td>
            <td>€ 70,00</td>
            <td>€ 60,50</td>
          </tr>
        </table>
        <br>
        <h2>Boekingen</h2><br>
        <p>Wij zijn telefonisch slecht bereikbaar, boekingen dienen gedaan te worden via het online reserveringssysteem.</p>
      </div>
    </main>
  </div>
</div>

