<div class="footer">
    <div class="row"> 
        <div class="column"> 
            <h4>Contactgegevens</h4> 
            <p>
                Camping MAKA<br> 
                Route du Maka 100<br> 
                B-6880 Auby sur Semois (B)<br> 
                T (0032) 061/41.11.48<br> 
                <a href="mailto:info@campingmaka.be">info@campingmaka.be</a>
            </p> 
        </div> 
        <div class="column"> 
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.794474257735!2d5.162458375246957!3d49.80873147147677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ea7c3106b0b5a3%3A0xbcf34d4ce0a89a5d!2sRte%20du%20Maka%20100%2C%206880%20Bertrix%2C%20Belgi%C3%AB!5e0!3m2!1snl!2snl!4v1780051235012!5m2!1snl!2snl" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div> 
    </div>
</div>