<div class="subpage-container">
  <br>
  <p class="activiteit">Ontdek het prachtige Le Parc national de la Vallée de la Semois in de Belgische Ardennen</p>
<div class="body_parent">
    <header>
      <h4 class="header_h4">Camping Maka</h4>
      <h1 class="header_h1">Openingstijden</h1>
      <br>
      <img src="https://images.pexels.com/photos/2806/sign-open.jpg" alt="Openingstijden">
    </header>
    
    <main>
        <p>Laagseizoen:<br>
        Receptie/shop: 09.00-12.00,15.30-17.00
        Restaurant:18:00-19.30 uur (ook take away mogelijk, voor 17.00 uur bestellen)
        Bar: 09.00-12.00,15.30-17:00,18.00-20.00, let op: het laatst drankje wordt geserveerd een half uur voor sluitingstijd.<br>
        <p>Hoogseizoen:<br>
        Receptie/shop: 09.00-12.00,14.00-17.00
        Restaurant:18:00-20.30 uur (ook take away mogelijk, voor 17.00 uur bestellen) 
        Bar: 09.00-12.00,14.00-17.00,18.00-21.00, let op: het laatst drankje wordt geserveerd een half uur voor sluitingstijd.</p>
        <br>

        <p>Onze bar en restaurant bieden enkel plek aan onze eigen kampeerders, dit aangezien onze horeca kleinschalig is en wij de 
        rust op de camping willen waarborgen. Wilt u zeker zijn van een plekje in het restaurant dan raden wij aan vooraf te reserveren. Op woensdagmiddag en avond  (april-mei-juni-sept) zijn receptie, winkel en bar/restaurant gesloten.</p>
    </main>
  </div>
</div> 
