<div class="subpage-container">
  <h2>Kanoën</h2>
  <p>Ontdek de prachtige wateren met onze kano's.</p>

  <button (click)="gaTerug()" class="btn-terug">⬅ Terug naar activiteiten</button>
</div>

<div class="body_parent">
    <header>
      <h4 class="header_h4">Camping Maka</h4>
      <h1 class="header_h1">Sometimes nature is all you need.</h1><br>
      <img src="https://images.pexels.com/photos/33107655/pexels-photo-33107655.jpeg" alt="Belgische Ardennen">
    </header>
    
    <main>
        <h2>Ligging</h2>
        <p>Camping Maka</p>
    </main>
</div>