<div class="subpage-container">
  <br>
  <p class="activiteit">Ontdek het prachtige Le Parc national de la Vallée de la Semois in de Belgische Ardennen</p>

  <div class="body_parent">
    <header>
      <h4 class="header_h4">Camping Maka</h4>
      <h1 class="header_h1">Kanoën</h1>
      <br>
      <img src="https://images.pexels.com/photos/8616463/pexels-photo-8616463.jpeg" alt="Kanoën">
    </header>
    
    <main>
        <p>De rivier de Semois is een rustige rivier. De Semois heeft een lengte van 175 km en stroomt door België en Frankrijk. Op de Semois is het prettig kanovaren en kajakken, vooral voor gezinnen met kinderen. Er zijn bijna geen lastige stukken met stroomversnellingen zodat u rustig kunt peddelen en kunt genieten van de natuur. Kanovaren op de Semois is super leuk en voor iedereen is er een gepaste route. Zo kunt u kiezen voor een vertrek vanuit Bouillon, Poupehan of Alle-sur-Semois. De kanotocht Bouillon - Poupehan heeft een lengte van 15 km en  hier moet u 3.30 uur voor uittrekken.</p>
    </main>
  </div>
</div>
